body{
    position: relative;
}

header{}
.header-container{ 
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo{}
.logo a{
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
}

nav{}
nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
}

.header-btn{}
.header-btn .log{}
.header-btn .log a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    z-index: 999;
    transition: 0.4s;
}
.header-btn .log a:hover{
    text-transform: uppercase;
}
 
/* .header-btn .log a.active{
    display: none;
} */