*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main Section Start */
body{
    position: relative;
}
main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}
main h1{}
/* Main Section End */